.ag-theme-quartz {
    --ag-active-color: #2196f3;
    --ag-background-color: #fff;
    --ag-foreground-color: #181d1f;
    --ag-border-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 15%);
    --ag-secondary-border-color: var(--ag-border-color);
    --ag-header-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 2%);
    --ag-tooltip-background-color: var(--ag-header-background-color);
    --ag-control-panel-background-color: var(--ag-header-background-color);
    --ag-subheader-background-color: transparent;
    --ag-invalid-color: #e02525;
    --ag-checkbox-unchecked-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%);
    --ag-advanced-filter-join-pill-color: #f08e8d;
    --ag-advanced-filter-column-pill-color: #a6e194;
    --ag-advanced-filter-option-pill-color: #f3c08b;
    --ag-advanced-filter-value-pill-color: #85c0e4;
    --ag-header-column-resize-handle-color: var(--ag-secondary-border-color);
    --ag-icon-font-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 90%);
    --ag-panel-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-panel-border-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 20%);
    --ag-menu-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%);
    --ag-menu-border-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 20%);
    --ag-selected-row-background-color: color-mix(in srgb, transparent, var(--ag-active-color) 8%);
    --ag-row-hover-color: color-mix(in srgb, transparent, var(--ag-active-color) 12%);
    --ag-column-hover-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 5%);
    --ag-input-focus-border-color: var(--ag-active-color);
    --ag-input-focus-box-shadow: 0 0 0 3px color-mix(in srgb, transparent, var(--ag-input-focus-border-color) 47%);
    --ag-range-selection-background-color: color-mix(in srgb, transparent, var(--ag-active-color) 20%);
    --ag-range-selection-background-color-2: color-mix(in srgb, transparent, var(--ag-active-color) 36%);
    --ag-range-selection-background-color-3: color-mix(in srgb, transparent, var(--ag-active-color) 49%);
    --ag-range-selection-background-color-4: color-mix(in srgb, transparent, var(--ag-active-color) 59%);
    --ag-checkbox-background-color: var(--ag-background-color);
    --ag-checkbox-checked-color: var(--ag-active-color);
    --ag-range-selection-border-color: var(--ag-active-color);
    --ag-secondary-foreground-color: var(--ag-foreground-color);
    --ag-input-border-color: var(--ag-border-color);
    --ag-input-border-color-invalid: var(--ag-invalid-color);
    --ag-disabled-foreground-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 50%);
    --ag-chip-background-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 7%);
    --ag-chip-border-color: color-mix(in srgb, var(--ag-header-background-color), var(--ag-foreground-color) 13%);
    --ag-input-disabled-border-color: var(--ag-border-color);
    --ag-input-disabled-background-color: color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 6%);
    --ag-modal-overlay-background-color: color-mix(in srgb, transparent, var(--ag-background-color) 66%);
    --ag-chart-menu-label-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 80%);
    --ag-chart-menu-pill-select-button-color: color-mix(in srgb, transparent, var(--ag-foreground-color) 70%);
    --ag-borders: solid 1px;
    --ag-border-radius: 4px;
    --ag-wrapper-border-radius: 8px;
    --ag-borders-side-button: none;
    --ag-side-button-selected-background-color: transparent;
    --ag-header-column-resize-handle-display: block;
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;

}
.table-wrapper{
    padding: 30px 20px 0px 20px;
}
