<div class="container-fluid default-dashboard">
  <div class="row">
    <div class="col-xl-6 box-col-7 proorder-md-1">
      <div class="card">
        <div class="card-body premium-card">
          <div class="row premium-courses-card">
            <div class="col-md-5 premium-course">
              <h1 class="f-w-700">Get Thousands Premium Courses.</h1><span class="f-light f-w-400 f-14">Upgrade to watch,
                play, learn, make and discover. </span><a class="btn btn-square btn-primary f-w-700" [routerLink]="['/ecommerce/pricing']">Go
                Premium</a>
            </div>
            <div class="col-md-7 premium-course-img">
              <div class="premium-message"><img class="img-fluid" src="assets/images/dashboard/massage.gif" alt="massage">
              </div>
              <div class="premium-books"><img class="img-fluid" src="assets/images/dashboard/books.gif" alt="books"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 box-col-5 col-md-6 proorder-md-2">
      <app-recent-activity></app-recent-activity>
    </div>
    <div class="col-xl-3 col-md-6 proorder-md-3 box-col-6">
      <app-sales-stats></app-sales-stats>
    </div>
    <div class="col-xl-6 col-md-6 proorder-md-5">
      <app-latest-sales></app-latest-sales>
    </div>
    <div class="col-xl-6 col-md-12 box-col-12 proorder-md-4">
      <app-last-orders></app-last-orders>
    </div>
    <div class="col-xl-4 col-md-6 proorder-md-6 box-col-6">
        <app-monthly-invoices></app-monthly-invoices>
    </div>
    <div class="col-xl-4 col-md-6 proorder-md-7 box-col-6">
     <app-recent-statistics></app-recent-statistics>
    </div>
    <div class="col-xl-4 col-md-6 proorder-md-8 box-col-6">
      <app-all-notification></app-all-notification>
    </div>
    <div class="col-xl-6 col-sm-12 proorder-md-9 box-col-6">
      <app-project-summary></app-project-summary>
    </div>
    <div class="col-xl-6 proorder-md-10 box-col-12">
       <app-sales-statistic></app-sales-statistic>
    </div>
  </div>
</div>