<div class="card">
    <div class="card-header pb-0">
        <div class="header-top">
            <h4>Participants</h4>
<!--            <div class="dropdown icon-dropdown setting-menu" (clickOutside)="isOpen = false">-->
<!--                <button class="btn dropdown-toggle" type="button" (click)="isOpen =!isOpen" [class.show]="isOpen">-->
<!--                    <app-common-svg-icon [icon]="'setting'"></app-common-svg-icon>-->
<!--                </button>-->
<!--                <div class="dropdown-menu dropdown-menu-end" [class.show]="isOpen"-->
<!--                    style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate(0px, 30px);">-->
<!--                    <a class="dropdown-item" href="javascript:void(0)">Weekly </a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0)">Monthly </a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0)">Yearly </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="user-activity" id="UserActivity">
            <apx-chart [chart]="weeklyUserActivity.chart" [series]="weeklyUserActivity.series"
                [colors]="weeklyUserActivity.colors" [plotOptions]="weeklyUserActivity.plotOptions"
                [stroke]="weeklyUserActivity.stroke" [responsive]="weeklyUserActivity.responsive"
                [labels]="weeklyUserActivity.labels">
            </apx-chart>
        </div>
<!--        <div class="user-activity">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <div class="applications-menu">-->
<!--                        <div class="rounded-btn-primary"></div>-->
<!--                        <h3>Join Members</h3>-->
<!--                    </div>-->
<!--                    <h4>24</h4>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="applications-menu">-->
<!--                        <div class="rounded-btn-secondary"></div>-->
<!--                        <h3>Offline Applications</h3>-->
<!--                    </div>-->
<!--                    <h4>45%</h4>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>