<div class="container-fluid ecommerce-dashboard">
  <div class="row">
    <div class="col-xl-6 proorder-xl-1">
      <app-total-sale></app-total-sale>
    </div>
    <div class="col-xl-6 proorder-xl-2">
      <app-summary></app-summary>
    </div>
    <div class="col-xl-7 proorder-xl-3 box-col-6">
      <app-recent-orders></app-recent-orders>
    </div>
    <div class="col-xl-5 proorder-xl-4 col-lg-6 box-col-6">
      <app-customer-growth></app-customer-growth>
    </div>
    <div class="col-xxl-4 col-lg-6 proorder-xl-5 box-col-6">
       <app-top-transaction></app-top-transaction>
    </div>
    <div class="col-xxl-4 col-md-6 proorder-xl-6 box-col-6">
        <app-weekly-user-activity></app-weekly-user-activity>
    </div>
    <div class="col-xxl-4 col-md-6 proorder-xl-7 box-col-12">
        <app-monthly-selling-product></app-monthly-selling-product>
    </div>
    <div class="col-xxl-6 proorder-xl-9 box-col-12">
       <app-sales-details></app-sales-details>
    </div>
    <div class="col-xl-6 proorder-xl-8 box-col-12">
     <app-latest-offer-product></app-latest-offer-product>
    </div>
  </div>
</div>