<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-xl-6 proorders-xl-1">
      <app-total-sale></app-total-sale>
    </div>
    <div class="col-xl-6 proorders-xl-2">
      <app-summary></app-summary>
    </div>
    <div class="col-xxl-4 proorders-xl-6 col-lg-6">
      <app-weekly-user-activity></app-weekly-user-activity>
    </div>
    <div class="col-xxl-4 proorders-xl-7 col-lg-6">
      <app-recent-statistics></app-recent-statistics>
    </div>
    <div class="col-xl-6 proorders-xl-3 box-col-12">
      <app-customer-growth></app-customer-growth>
    </div>
    <div class="col-xxl-6 proorders-xl-5 box-col-12">
      <app-latest-offer-product></app-latest-offer-product>
    </div>
  </div>
</div>