<!-- users-list-page.component.html -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" id="main-content">
      <div class="card">
            <div class="card-header pb-0">
              <h4>Users List</h4>
            </div>
            <div class="card-body">
            <div class="ag-theme-alpine grid-container">
              <ag-grid-angular
                  class="ag-theme-alpine"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  [rowHeight]="50"
                  domLayout='autoHeight'
              >
              </ag-grid-angular>
            </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<!--      <div class="card">-->
<!--        <div class="table-responsive custom-scrollbar custom-scrollbar add-project">-->
<!--          <table class="table card-table table-vcenter text-nowrap">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>User Name</th>-->
<!--              <th>Upi</th>-->
<!--              <th>Email</th>-->
<!--              <th>Phone</th>-->
<!--              <th>Joining Date</th>-->
<!--              <th>Progress</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              @for(item of useritem; track item){-->
<!--                <tr>-->
<!--                  <td>{{item.name}}</td>-->
<!--                  <td>{{item.upi}}</td>-->
<!--                  <td>{{item.email}}</td>-->
<!--                  <td>{{item.phone}}</td>-->
<!--                  <td>{{item.date}}</td>-->
<!--                  <td>{{item.note}}</td>-->
<!--                  <td class="text-end">-->
<!--                    <a class="btn btn-primary btn-sm">-->
<!--                      <i class="fa fa-pencil"></i>Edit</a>-->
<!--                    <a class="btn btn-light btn-sm">-->
<!--                      <i class="fa fa-link"></i>-->
<!--                      Update-->
<!--                    </a>-->
<!--                    <a class="btn btn-danger btn-sm">-->
<!--                      <i class="fa fa-trash"></i> Delete-->
<!--                    </a>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              }-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
